*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    /* transition: all 1s ease-in-out; */
    
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.bitmama-intro-body{
    /* height: 100%; */
    width: 100%;
    /* background: blue; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.navigation-bitmama{
   height: fit-content;
    width: 100%;
    background: #f7f7fc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed; 
     z-index: 2;
}
.navigation-left-bitmama{
    width: 5rem;
    /* background-color: black; */
}
div{
    display: block;
}
.Navigation_logo__80WVe{
    height: 5.5rem;
    width: 5rem;
    cursor: pointer;
}
.navigation-middle-bitmama{
    width: 40rem;
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}
/* .P2P a{
    cursor: pointer;
} */

.navigation-right-bitmama{
    width: 20rem;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation-right-bitmama button{
    height: 3.5rem;
    width: 11.5rem;
    background: #03a438;
    border-radius: 40px;
    border: 0;
    color: #fff;
    font-size: 16px;
}
.navigation-right-bitmama button:hover{
    cursor: pointer;
    background: #026523;
}
.country-hero{
    height: 55rem;
    background: #14142b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 5rem;

}
.country-sub{
    width: 95%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.country-hero-left{
    width: 55%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.country-hero-left h1{
    font-size: 3.4em;
    width: 80%;
    color: #fff;
}
.country-hero-right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: palegoldenrod; */
}
.planet-svg{
    width: 49rem;
}
.buysell-content{
    width: 100%;
    height: fit-content;
    /* background-color: #026523; */
    padding: 7em 5em 3em;
}
.buysell-title{
    width: 100%;
    height: max-content;
    text-align: center;
    font-size: 2em;
    margin: 1em auto;
    line-height: 55px;
    color: #4e4b66;
    /* background-color: antiquewhite; */
}
.buysell-description{
    margin: 5em auto;
    width: 90%;
}
.buysell-description p{
    line-height: 34px;
    letter-spacing: -.5px;
    font-weight: 300;
    margin: 1.5em auto;
}
.buysell-txt{
    text-align: center;
}
.buysell-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buynow-btn{
    margin-top: 4em;
    background: #03a438;
    border-radius: 40px;
    border: 0;
    color: #fff;
    width: 200px;
    height: 65px;
    font-size: 16px;
}
.buysell-trust{
    margin: 4em auto 2em;
    width: 70%;
    text-align: center;
    font-size: 2em;
    line-height: 50px;
    color: #4e4b66;
}