:root{
    --backGroundColor: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    transition: all 1s ease-in-out;
    
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.bitmama-intro-body{
    height: 100%;
    width: 100%;
    /* background: blue; */
    /* position: relative; */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; */
}
.navigation-bitmama{
    height: 5.5rem;
    width: 100%;
    background: #f7f7fc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed; 
     z-index: 2;
}
.navigation-left-bitmama{
    height: 5.5rem;
    width: 5rem;
    /* background-color: black; */
}
div{
    display: block;
}
.Navigation_logo__80WVe{
    height: 5.5rem;
    width: 5rem;
    cursor: pointer;
}
.navigation-middle-bitmama{
    height: 5.5rem;
    width: 40rem;
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}
/* .P2P a{
    cursor: pointer;
} */

.navigation-right-bitmama{
    height: 5.5rem;
    width: 20rem;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation-right-bitmama button{
    height: 3.5rem;
    width: 11.5rem;
    background: #03a438;
    border-radius: 40px;
    border: 0;
    color: #fff;
    font-size: 16px;
}
.navigation-right-bitmama button:hover{
    cursor: pointer;
    background: #026523;
}
.home-intro-bitmama{
    height: 54rem;
    width: 100%;
    background: #14142b;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.home-intro-left{
    height: auto;
    width: 45rem;
    /* background: whitesmoke; */
    margin-top: 100px;
    /* width: 90%; */
}
.middle-div{
    height: 45rem;
    width: 100%;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.bitmama-paragraph{
    font-size: 1.2vw;
    font-weight: 200;
    line-height: 1.9vw;
    letter-spacing: -.5px;
    color: #fcfcfc;
    margin-top: 1em;
}
.home-intro-right{
    height: auto;
    width: 45rem;
    margin-top: 55px;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: green; */
}
.bitmama-calc{
    height: 28rem;
    background: #fff;
    box-shadow: inset -5px -5px 20px rgb(55 84 170 / 20%);
    border-radius: 33.0526px;
    width: 420px;
    margin-top: 55px;
}
.bitmama-calc-top{
    height: 6rem;
    width: 100%;
    /* background-color: #026523; */
    border-top-left-radius: 33.0526px;
    border-top-right-radius: 33.0526px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.bitmama-calc-top img{
    height: 4rem;
    width: 3rem;
}
.calc-tabs{
    height: 2rem;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9dbe9;
    width: 100%;
    padding: 0 4em;
}
.tab-one{
    /* width: 5rem; */
    /* height: 1rem; */
    /* background-color: antiquewhite; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.tab-two{
    /* width: 5rem; */
    /* height: 1rem; */
    /* background-color: antiquewhite; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.calc-line{
    border-top: 4px solid #03a438;
    width: 35%;
    margin-top: 5px;
}
.bitmama-bold-text{
    color: #a1efbb;
}
.bitmama-intro-text{
    font-weight: 700;
    font-size: 3.7vw;
    line-height: 4vw;
    color: #fff;
    letter-spacing: 1px;
}
.home-intro-bitmama button{
    margin-top: 2em;
    background: #03a438;
    border-radius: 40px;
    border: 0;
    color: #fff;
    max-width: 200px;
    width: 100%;
    height: 59px;
    font-size: 16px;
    cursor: pointer;
}
.home-intro-bitmama button:hover{
    background: #026523;
}
.bitmama-download-app{
    /* height: 5rem; */
    width: 100%;
    /* background: blue; */
    margin-top: 24px;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    height: 74px;
}
.last-div{
    /* margin-bottom: 15px; */
}
.steps-section
{
    height: 65rem;
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 142px 0; */
    /* background-color: aqua; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.steps-div{
    height: 58rem;
    width: 60%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.home-stepsTitle{
    font-size: 3rem;
    line-height: 70px;
    text-align: center;
    color: #14142b;
    margin-top: 77px;
}
.home-steps-boxs{
    height: 50rem;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #03a438; */
}
.home-steps-boxs img{
    height: 26rem;

}
.home-steps-1{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-steps-2{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-steps-3{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-steptitle2{
    margin: 30px 0 20px;
    line-height: 24px;
    letter-spacing: -.5px;
    font-size: 20px;
    text-align: center;
}
.home-steptxt2{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    max-width: 289px;
    margin: 0 auto;
    line-height: 19px;
    letter-spacing: -.5px;
    font-weight: 400;
}
.box1{
    position: absolute;
    right: 0;
    margin-right: 5em;
    bottom: 1rem;
}
.home-portfolio{
    background: rgba(3,164,56,.1);
    /* padding: 5em 1em; */
    width: 100%;
    height: 54.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-portfolio-child{
    height: 45rem;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-portTitle{
    width: 50%;
    font-size: 2.9vw;
    text-align: center;
    margin: auto;
}
.home-portTxt{
    font-size: .95em;
    text-align: center;
    font-weight: 300;
    margin-top: 1.5em;
}
.home-portfolio-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 85%;
    height: 21rem;
    margin: 4em auto;
    position: relative;
    /* background-color: #d9dbe9; */
}
.home-portfoliobox-1{
    background: #fcfcfc;
    box-shadow: 0 16px 20px rgb(50 50 50 / 10%);
    border-radius: 16px;
    padding: 2em 1em;
    width: 30%;
    max-width: 350px;
    height: 324px;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-portfoliobox-2{
    background: #fcfcfc;
    box-shadow: 0 16px 20px rgb(50 50 50 / 10%);
    border-radius: 16px;
    padding: 2em 1em;
    width: 30%;
    max-width: 350px;
    height: 324px;
    margin-right: 1em;
}
.home-portfoliobox-3{
    background: #fcfcfc;
    box-shadow: 0 16px 20px rgb(50 50 50 / 10%);
    border-radius: 16px;
    padding: 2em 1em;
    width: 30%;
    max-width: 350px;
    height: 324px;
    margin-right: 1em;
}
.home-box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-boxTitle{
    margin: 1em 0;
    font-size: 1.2em;
}
.home-boxText{
    margin: 0.5em 0;
    font-weight: 200;
    text-align: center;
}
.box2{
    position: absolute;
    z-index: -1;
    margin-top: 20em;
    right: 75rem;
    /* top: 1rem; */
    bottom: -4rem;
}
.home-testimonal{
    height: 51.5rem;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-testimonal-content{
    height: 48rem;
    /* width: 80%; */
    background: white;
    width: 80%;
    margin: 7em auto 10em;
    position: relative;
}
.home-download{
    background: linear-gradient(114.44deg,#027343,#02aa63);
    margin-top: 3em;
    padding: 2em 1em 0;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-download-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    width: 90%;
    /* background-color: whitesmoke; */
    height: 57rem;
}
.home-download-left{
    width: 55%;
    height: 55rem;
    /* background-color: palegreen; */
    padding: 8em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 8em 0;
}
.home-download-right{
    width: 50%;
    height: 55rem;
    /* background-color: purple; */
}
.home-downloadTitle{
    color: #fff;
    font-size: 2.4em;
    margin-bottom: 1em;
    width: 100%;
}
.home-downloadBtn{
    display: flex;
    /* align-items: flex-start; */
    width: 100%;
    /* background: blue; */
    /* margin-top: 24px; */
    display: flex;
    grid-gap: 15px;
    gap: 45px;
    height: 50px;
    
}
.home-downloadPhone{
    margin-top: -150px;
    margin-bottom: -3.5px;
    width: 100%;
    /* background-color: cyan; */
    /* height: 55rem; */
}
.home-downloadPhone img{
    height: 65.9rem;
}
.home-subscribe{
    /* padding: 4em; */
    display: flex;
    width: 100%;
    height: 25rem;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
}
.home-subscribeContainer{
    height: 15rem;
    width: 90%;
    background: rgba(3,164,56,.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.home-subscribeShape{
    position: absolute;
    left:1px;
    top: 1px;
}
.home-subscribe-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1em auto;
    padding: 3.5em 0;
    position: relative;
}
.home-subscribe-form{
    display: flex;
    margin-top: 2em;
}
.home-subscribeInput{
    border: 0;
    outline: none;
    background: #d9dbe9;
    border-radius: 10px;
    width: 474px;
    height: 63px;
    margin-right: 1em;
    padding: 0 2em;
}
.home-subscribeBtn{
    background: #03a438;
    border-radius: 10px;
    border: 0;
    color: #fff;
    width: 195px;
    height: 63px;
    font-size: 16px;
    transition: all .5s ease-in;
}
.home-subscribeBtn:hover{
    cursor: pointer;
    background: #026523;
}
.footer{
    height: 26rem;
    width: 100%;
    background: black;

}
.footer-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 24rem;
    background: whitesmoke;
}
.footer-left{
    /* background: blue; */
    width: 40%;
    /* padding: 2em 2em 2em 4em; */
    /* height: 23rem; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-right{
    height: 24rem;
    width: 60%;
    /* background-color: black; */
    background: #14142b;
    padding: 2em 0 2em 1em;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-left-wrapper{
    /* background: green; */
    width: 80%;
}
.footer-left-content{
    margin-top: 2em;
}
.footer-footerTitle{
    /* width: 70%; */
    font-weight: 300;
}
.footer-downloadBtns{
    display: flex;
    margin-top: 1.5em;
    width: 80%;
}
.Footer_footerSocials__TSDIb{
    display: flex;
    margin-top: 1em;
}
.footer-downloadBtn2{
    height: 3.5rem;
    padding-left: 20px;
}
.footer-downloadBtn{
    height: 3.5rem;
    
}
.img2{
    padding-left: 15px;
}
.img3{
    padding-left: 15px;
}
.footer-right-content{
    display: flex;
    color: #fff;
    grid-gap: 1rem;
    gap: 1rem;
    margin-top: 3.5em;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 1rem;
    flex-wrap: wrap;
}
.footer-content-columns p{
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
    font-size: 14px;
}
.footer-content-columns h2{
    font-size: 16px;
    font-weight: 700;
}
.footer-buttom{
    background: #14142b;
    display: flex;
    justify-content: center;
    padding: 1em;

}
.footer-buttom p{
    color: white;
    font-weight: 200;
    font-size: 14px;
}